.cabecera {  
  color: #3366ff;  
  background-color: #ffcc00;
}

.cuerpo {  
  background-color: #ffcc00;  
  color: #3366ff;
}

#foto1 {  
  visibility: visible;  
  display: block;  
  float: left;  
  left: 10px;
}

#foto {  
  right: 10px;  
  position: static;
}

#pbcn {  
  font-style: oblique;  
  text-align: center;
}

#videojuegos {  
  text-align: center;  
  color: #6666cc;
}

#pdiablo {  
  background-color: #33ccff;
}

.videojuegos {  
  color: #6666cc;
}

#futbol {  
  text-align: center;
}

#pfcb {  
  text-align: center;  
  font-style: oblique;
}

